{% extends "template.njk" %}

{% block main %}
    <section id="content" class="main">
        <h3>Impressum</h3>
        <h3>Diensteanbieter</h3>
        <p>
            Burschenverein Höhenrain e. V.
            </br>
            Am Bichl 5
            </br>
            82335 Berg
        </p>
        <h3>Kontaktmöglichkeiten</h3>
        <p>
            <strong>E-Mail-Adresse:</strong>
            <a href="mailto:vorstand@bv-hoehenrain.de">vorstand@bv-hoehenrain.de</a>
            </br>
            <strong>Kontaktformular:</strong>
            <a href="https://bv-hoehenrain.de/#contact" target="_blank">https://bv-hoehenrain.de/#contact</a>
        </p>
        <h3>Vertretungsberechtigte</h3>
        <p>
            Maximilian Haberl (1. Vorstand), Thomas Griesbeck (2. Vorstand), Michael Fuchs (1. Schriftführer), Andrea Buchner (2. Schriftführerin), Christopher Rößner (1. Kassier), 
            Jana Diehl (2. Kassiererin)
        </p>
        <h3>Register und Registernummer</h3>
        <p>Vereinsregister geführt bei Amtsgericht München (Nummer: 71134)</p>
        <h3>Social Media und andere Onlinepräsenzen</h3>
        <p>
            Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile:
            </br>
            <a href="https://www.facebook.com/bvhoehenrain/" target="_blank">https://www.facebook.com/bvhoehenrain/</a>
        </p>
        </br>
        <p>
            <a href="https://datenschutz-generator.de/?l=de" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">
                Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke
            </a>
        </p>
    </section>
{% endblock %}