{% extends "template.njk" %}

{% block main %}
    <nav id="nav">
        <ul>
            <li>
                <a href="/index.njk#intro" class="active">Wer sind wir?</a>
            </li>
            <li>
                <a href="/index.njk#vorstand">Vorstand</a>
            </li>
            <li>
                <a href="/index.njk#history">Geschichte</a>
            </li>
            <li>
                <a href="/index.njk#upcoming-events">Zukünftige Veranstaltungen</a>
            </li>
            <li>
                <a href="/index.njk#contact">Kontakt</a>
            </li>
        </ul>
    </nav>
    <div id="main">
        <section id="intro" class="main">
            <div class="spotlight">
                <div class="content">
                    <header class="major">
                        <h2>Wer sind wir?</h2>
                    </header>
                    <p>
                    Der Burschenverein Höhenrain e. V. ist aktuell mit 37 Madln und 63 Burschen vertreten. Egal ob Veranstaltungen, wie das gemütliche Johannifeier 
                    oder das legändere Strandfestl, es gibt immer eine Gelegenheit zum Feiern. Selbstverständlich nimmt der Verein auch an diversen Festen, wie 
                    Maifeieren, Burschenfesten und den Burschenspielen teil. Auch Ausflüge wie in das Spinnrad'l, sowie auf das Donauinselfest in Wien geören zu 
                    unseren jährlichen Programm dazu.        
                </p>
                    <ul class="actions">
                        <li>
                            <a href="https://www.facebook.com/bvhoehenrain/" class="button">Facebook</a>
                        </li>
                    </ul>
                </div>
                <span class="image">
                    <img src="../images/maibaum.jpeg" alt="Das traditionelle Wappen unseres Maibaum"/>
                </span>
            </div>
        </section>
        <section id="vorstand" class="main special">
            <header class="major">
                <h2>Aktuelle Vorstandschaft</h2>
            </header>
            <span class="image fit">
                <img src="../images/vorstand.jpg" alt="Gruppenfoto der aktuellen Vorstandschaft"/>
            </span>
            <p class="content">
                <strong>von links nach rechts</strong>: Theresa Griesbeck, Andrea Buchner, Marie Karcher, Jana Diehl, Maximilian Haberl, Christopher Rößner, Thomas Griesbeck, 
            Michael Fuchs und Alfred Oberpriller
        </p>
        </section>
        <section id="history" class="main special">
            <header class="major">
                <h2>Geschichte</h2>
            </header>
            <p class="content">
            Der Burschenverein Höhenrain e.V. wurde am 15.11.1996 von 49 Burschen & Madln im Gasthaus “Alter Wirt” in Höhenrain gegründet. Jedoch gab es schon früher einen Burschenverein 
            in Höhenrain, was leider nur noch durch dieses Bild überliefert werden kann.
        </p>
            <span class="image fit">
                <img src="../images/alter_vorstand.jpg" alt="Gruppenfoto der Höhenrainer Burschen im Jahr 1898"/>
            </span>
            <p class="content-col">
            Somit können wir nicht nur auf 24 Jahre Vereinsgeschichte, sondern voller Stolz auf über 122 Jahre Burschenaktivitäten zurücksehen. Nach dem wahrscheinlich im Krieg aufgelösten 
            Burschenverein Höhenrain, kümmerte sich in der Nachkriegszeit die Kolpingsfamilie Höhenrain um die dörfliche Gemeinschaft der Jugend und ihre Bräuche. Da aber immer wieder mit dem 
            Gedanken gespielt wurde einen richtigen Verein zu gründen, beschlossen im Jahr 1996 einige eifrige Burschen und Madl, nach 2 unvergesslichen Festen - Johannifeier und einer 
            Silvesterparty den Burschenverein Höhenrain e. V. ins Leben zu rufen. Zur Gründungsversammlung lud der damalige Oberbursch Martin Klostermeier ein.
        </p>
        </section>
        <section id="upcoming-events" class="main special">
            <header class="major">
                <h2>Zukünftige Veranstaltungen</h2>
            </header>
            <p class="content">
            Aufgrund der aktuellen COVID-19 Pandemie finden keine weiteren Veranstaltungen als auch Vereinsaktiviäten statt. Sobald sich hierbei etwas ändert, so wird dies hier bekannt gegeben. 
        </p>
        </section>
    </div>
{% endblock %}