{# https://mozilla.github.io/nunjucks/templating.html#template-inheritance #}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Die offiziele Homepage des Burschenverein Höhenrain e. V..">
        <meta name="author" content="theexiile1305">
        <title>Burschenverein Höhenrain e. V.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
        <meta name="theme-color" content="#000000"/>
        <link rel="stylesheet" href="../sass/main.scss"/>
        <noscript><link rel="stylesheet" href="../sass/noscript.scss"/></noscript>
    </head>
    <body class="is-preload">
        <div id="wrapper">
            <header id="header" class="alt">
                <span class="logo">
                    <img src="../images/logo.png" alt="">
                </span>
                <h1>Burschenverein Höhenrain e. V.</h1>
            </header>
            <nav id="nav">
                <ul>
                    <li>
                        <a href="/index.njk#intro" class="active">Wer sind wir?</a>
                    </li>
                    <li>
                        <a href="/index.njk#vorstand">Vorstand</a>
                    </li>
                    <li>
                        <a href="/index.njk#history">Geschichte</a>
                    </li>
                    <li>
                        <a href="/index.njk#upcoming-events">Zukünftige Veranstaltungen</a>
                    </li>
                    <li>
                        <a href="/index.njk#contact">Kontakt</a>
                    </li>
                </ul>
            </nav>
            <div id="main">
                {% block main %}Main{% endblock %}
            </div>
             <footer id="footer">
                <section>
                    <h2>Kontaktieren Sie uns</h2>
                    <p>
                        Falls Sie uns eine Nachricht hinterlassen wollen, nutzen Sie den unteren Button. Die Beantwortung Ihrer Anfrage wird so schnell 
                        wie möglich beantwortet.
                    </p>
                    <ul class="actions">
                        <li>
                            <a href="mailto:vorstand@bv-hoehenrain.de" class="button">Mail Senden</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2>Kontaktdaten</h2>
                    <dl class="alt">
                        <dt>Adresse</dt>
                        <dd>Maximilian Haberl &bull; Am Bichl 5 &bull; 82335 Berg</dd>
                        <dt>Email</dt>
                        <dd>
                            <a href="mailto:vorstand@bv-hoehenrain.de">vorstand@bv-hoehenrain.de</a>
                        </dd>
                    </dl>
                </section>
                <p id="contact" class="copyright">
                    Powered by <a href="https://parceljs.org/">parceljs</a>
                    --- Please report issues on <a href="https://github.com/burschenverein-hoehenrain/website/issues">GitHub</a>
                    </br>
                    &copy; 2021 Michael Fuchs | <a href="/impressum.njk">Impressum</a> | <a href="/privacy.njk">Datenschutzerklärung</a>
                </p>
            </footer>
        </div>
		<script src="../js/util.js"></script>
		<script src="../js/main.js"></script>
    </body>
</html>
